numpy==2.3.5
matplotlib==3.10.8
pandas==2.3.3
scipy==1.16.3
seaborn==0.13.2
scikit-learn==1.8.0
hdbscan==0.8.41
MDAnalysis==2.10.0
meeko==0.7.1
rdkit==2026.3.1
gemmi==0.7.5
Pillow==12.0.0
GridDataFormats==1.0.2
tqdm==4.67.1
streamlit==1.57.0