# Core Scientific & Data Processing
numpy==2.3.5
pandas==2.3.3
scipy==1.16.3
scikit-learn==1.8.0
hdbscan==0.8.41

# Plotting & Visualization
matplotlib==3.10.8
seaborn==0.13.2
Pillow==12.0.0

# Trajectory & Structural Analysis
MDAnalysis==2.10.0
GridDataFormats==1.0.2

# Molecular Docking, Cheminformatics & Surface Grids
meeko==0.7.1
rdkit==2026.3.1
gemmi==0.7.5

# UI & Utilities
tqdm==4.67.1
streamlit==1.57.0